<!DOCTYPE html>
<html>
  <head>
    <title>Application - Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="react-render">
    </div>
  <script src="/javascripts/jquery-3.0.0.js" type="text/javascript" charset="utf-8" async defer></script>
  <script src="/javascripts/materialize.js" type="text/javascript" charset="utf-8" async defer></script>
  <script src="/javascripts/main.jsx" type="text/javascript" charset="utf-8" async defer></script>
  </body>
</html>
