@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,700';
@import "./materialize";

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}
main {
   flex: 1 0 auto;
}

.centerize {
  text-align: center;
}

.listStyleCirc {
  list-style-type: circle;
}
